OPENAI=sk-pro...ETSOMVUv02oA
DEEPSEEK_API_KEY=sk-...8b3
GIGACHAT_API_KEY="OD...NTgyMg=="
GIGACHAT_SCOPE=GIGACHAT_API_CORP
OPENROUTER_API_KEY=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